/* Table styles */

.job-applications-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 20px;
}

.job-applications-table thead {
    background-color: #eee;
    font-weight: bold;
}

.job-applications-table th,
.job-applications-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.job-applications-table tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}


/* Responsive styles */

@media screen and (max-width: 767px) {
    .job-applications-table {
        display: flex;
        flex-direction: column;
        overflow-x: auto;
    }
    .job-applications-table thead {
        display: none;
    }
    .job-applications-table tbody tr {
        display: flex;
        flex-direction: column;
        border: none;
        margin-bottom: 20px;
    }
    .job-applications-table tbody tr td {
        flex-basis: 100%;
        padding: 10px;
        text-align: center;
    }
    .job-applications-table tbody tr td:before {
        content: attr(data-label);
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 5px;
        display: block;
    }
}

.inputs-container {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}

button#submit-btn {
    margin: 5px auto;
}

.spinner:before {
    content: " ";
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 0.2em solid rgba(0, 0, 0, 0.2);
    border-top-color: #E91E63;
    position: absolute;
    left: 50%;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.filter-container {
    display: flex;
    height: 50px;
    justify-content: flex-end;
    align-items: center;
}

#filter-label {
    font-size: 16px;
    padding-right: 10px;
}
#jobTitleFilterSelect {
    width: 25%;
}
.form-container {
    display: flex;
    width: 75%;
    flex-direction: column;
    align-items: stretch;
    margin: auto;
}
